
ImgFix/ImgFix/Images/Tesseract-OCR/ambiguous_words.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/ambiguous_words.exe
ImgFix/ImgFix/Images/Tesseract-OCR/classifier_tester.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/classifier_tester.exe
ImgFix/ImgFix/Images/Tesseract-OCR/cntraining.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/cntraining.exe
ImgFix/ImgFix/Images/Tesseract-OCR/combine_lang_model.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/combine_lang_model.exe
ImgFix/ImgFix/Images/Tesseract-OCR/combine_tessdata.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/combine_tessdata.exe
ImgFix/ImgFix/Images/Tesseract-OCR/dawg2wordlist.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/dawg2wordlist.exe
ImgFix/ImgFix/Images/Tesseract-OCR/doc/AUTHORS
ImgFix/ImgFix/Images/Tesseract-OCR/doc/LICENSE
ImgFix/ImgFix/Images/Tesseract-OCR/doc/README.md
ImgFix/ImgFix/Images/Tesseract-OCR/iconv.dll
ImgFix/ImgFix/Images/Tesseract-OCR/icudt64.dll
ImgFix/ImgFix/Images/Tesseract-OCR/icuin64.dll
ImgFix/ImgFix/Images/Tesseract-OCR/icuuc64.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libarchive-13.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libbz2-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libcairo-2.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libcurl-4.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libeay32.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libexpat-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libffi-6.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libfontconfig-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libfreetype-6.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libgcc_s_seh-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libgif-7.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libglib-2.0-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libgobject-2.0-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libgomp-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libharfbuzz-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libidn2-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libintl-8.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libjbig-2.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libjpeg-8.dll
ImgFix/ImgFix/Images/Tesseract-OCR/liblept-5.dll
ImgFix/ImgFix/Images/Tesseract-OCR/liblz4-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/liblzma-5.dll
ImgFix/ImgFix/Images/Tesseract-OCR/liblzo2-2.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libnettle-6.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libnghttp2-14.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libopenjp2.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libpango-1.0-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libpangocairo-1.0-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libpangoft2-1.0-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libpangowin32-1.0-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libpcre-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libpixman-1-0.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libpng16-16.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libssh2-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libstdc++-6.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libtesseract-5.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libtiff-5.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libunistring-2.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libwebp-7.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libwinpthread-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libxml2-2.dll
ImgFix/ImgFix/Images/Tesseract-OCR/libzstd-1.dll
ImgFix/ImgFix/Images/Tesseract-OCR/lstmeval.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/lstmeval.exe
ImgFix/ImgFix/Images/Tesseract-OCR/lstmtraining.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/lstmtraining.exe
ImgFix/ImgFix/Images/Tesseract-OCR/merge_unicharsets.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/merge_unicharsets.exe
ImgFix/ImgFix/Images/Tesseract-OCR/mftraining.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/mftraining.exe
ImgFix/ImgFix/Images/Tesseract-OCR/set_unicharset_properties.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/set_unicharset_properties.exe
ImgFix/ImgFix/Images/Tesseract-OCR/shapeclustering.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/shapeclustering.exe
ImgFix/ImgFix/Images/Tesseract-OCR/ssleay32.dll
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/alto
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/ambigs.train
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/api_config
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/bigram
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/box.train
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/box.train.stderr
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/digits
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/get.images
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/hocr
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/inter
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/kannada
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/linebox
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/logfile
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/lstm.train
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/lstmbox
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/lstmdebug
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/makebox
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/pdf
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/quiet
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/rebox
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/strokewidth
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/tsv
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/txt
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/unlv
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/configs/wordstrbox
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/eng.traineddata
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/eng.user-patterns
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/eng.user-words
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/jaxb-api-2.3.1.jar
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/osd.traineddata
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/pdf.ttf
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/piccolo2d-core-3.0.1.jar
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/piccolo2d-extras-3.0.1.jar
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/ScrollView.jar
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/tessconfigs/batch
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/tessconfigs/batch.nochop
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/tessconfigs/matdemo
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/tessconfigs/msdemo
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/tessconfigs/nobatch
ImgFix/ImgFix/Images/Tesseract-OCR/tessdata/tessconfigs/segdemo
ImgFix/ImgFix/Images/Tesseract-OCR/tesseract-uninstall.exe
ImgFix/ImgFix/Images/Tesseract-OCR/tesseract.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/tesseract.exe
ImgFix/ImgFix/Images/Tesseract-OCR/text2image.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/text2image.exe
ImgFix/ImgFix/Images/Tesseract-OCR/unicharambigs.5.html
ImgFix/ImgFix/Images/Tesseract-OCR/unicharset.5.html
ImgFix/ImgFix/Images/Tesseract-OCR/unicharset_extractor.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/unicharset_extractor.exe
ImgFix/ImgFix/Images/Tesseract-OCR/winpath.exe
ImgFix/ImgFix/Images/Tesseract-OCR/wordlist2dawg.1.html
ImgFix/ImgFix/Images/Tesseract-OCR/wordlist2dawg.exe
ImgFix/ImgFix/Images/Tesseract-OCR/zlib1.dll
