@{
    ViewBag.Title = "Home Page";
}

<section class="input">
    <h1>Convert images to text</h1>
    <p>Easily scan text in an image or make text readable click the button below to get started</p>
    <a href="@Url.Action("Image", "Home")"><button type="button" name="button">Upload image</button></a>
</section>
<section class="status">
    <p>Uploading image 70%</p>
    <div class="statusbar">

    </div>
</section>