@model IQueryable<Billeder>
@{
    ViewBag.Title = "My Images";
}

@Styles.Render("~/Content/MyImages")
<section class="image-grid">
    <div class="image-grid-container">
        @{
                IEnumerable<Billeder> billeder = Model.ToArray();
                foreach (Billeder billede in billeder)
                {
                    string billedeData = Convert.ToBase64String(billede.Data, 0, billede.Data.Length, Base64FormattingOptions.None);
                <div class="image" style="background-image: url('@billede.Mime,@billedeData')">
                    <img src="@billede.Mime,@billedeData" style="display:none" class="image-data"/>
                    <div class="imagewrapper">
                        <div class="text">
                            <p>@billede.Tekst</p>
                        </div>
                        <div class="button">
                            <button type="button" name="download">Download</button>
                            <button type="button" name="delete">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none" /><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" /></svg>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>