body {
    margin: 0;
    padding: 0;
    background: #343840;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 24px;
    margin: 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    margin: 0;
}

button {
    border: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0px 20px;
    width: -webkit-fill-available;
}

.header button {
    height: 35px;
    border-radius: 50px;
    padding: 0 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.title {
    text-decoration: none;
    transition: 200ms;
}

.title:hover {
    transform: scale(1.15);
}

button[name=myimages] {
    margin-right: 10px;
    background: white;
}

button[name=myimages] h3 {
    color: #343840;
}

button[name=myimages]:hover {
    background: #c8c8c8;
}

#actionbutton {
    border: 2px solid white;
    background: transparent;
}

#actionbutton h3 {
    color: white;
}

#actionbutton:hover {
    background: white;
}

#actionbutton:hover h3 {
    color: #343840;
}

.signin .error-text, .signup .error-text {
    margin-top: 5px;
    color: #fa3e3e;
}
.signin {
    position: fixed;
    display: none;
}

.signinbackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.7;
}

.signinmodal {
    padding: 35px 35px;
    width: 450px;
    background: white;
    border-radius: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.signin-title {
    color: #343840;
    font-size: 22px;
}

.signinmodal input {
    margin-top: 15px;
    border-radius: 15px;
    border: 1.5px solid #868686;
    padding: 15px 15px;
}

.signinmodal button {
    margin-top: 15px;
    height: 50px;
    height: 50px;
    border-radius: 15px;
    background: #FF8484;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
}

.signinmodal button:hover {
    background: #ff6363;
}



.signup {
    position: fixed;
    display: none;
}

.signupbackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.7;
}

.signupmodal {
    padding: 35px 35px;
    width: 450px;
    background: white;
    border-radius: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.signup-title {
    color: #343840;
    font-size: 22px;
}

.signupmodal input {
    margin-top: 15px;
    border-radius: 15px;
    border: 1.5px solid #868686;
    padding: 15px 15px;
}

.signupmodal button {
    margin-top: 15px;
    height: 50px;
    height: 50px;
    border-radius: 15px;
    background: #FF8484;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
}

.signupmodal button:hover {
    background: #ff6363;
}


::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #696969;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bababa;
}
